* {
    box-sizing: border-box;
}

@font-face {
    font-family: "FuturaStd-Med";  
    src: url("../cosmo/fonts/futura/FUB_____.TTF") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}


@media only screen and (min-width: 768px) {
      /* For desktop: */
    .main__logo {
        margin-top: 375px;
        margin-left: 7px;
    }
    .main {
        width: 1920px;
        background-image: url(../cosmo/icons/make-up.png);
        background-repeat: no-repeat;
        background-position: 1050px;
        height: max-content;
        height: 1200px;   
    }

    .main__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 7px;
    }
    .main__title1 {
        width: 922px;
        font-size: 50px;
        letter-spacing: 3.7px;
        line-height: 62px;
        color: #f767b4;
        font-weight: 500;
        font-family: "Futura Std";
        text-align: center;  
        margin-top: 52px;
        margin-bottom: auto;
    }
    .main__title2 {
        background: linear-gradient(45deg, #ff8665, #ff8bca);
        width: 897px;
        height: 125px;
        text-align: center;
        font-size: 69px;
        letter-spacing: 9px;
        line-height: 85px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Futura Std";
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        
    }
    .main__title3 {
        font-size: 30px;
        line-height: 37px;
        color: #333333;
        font-style: italic;
        font-family: "Georgia";
        text-align: center;
        margin-top: 19px;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
    .main__email-field {
        border: 2px solid #f767b4;
        width: 760px;
        height: 60px;
        margin-bottom: 30px;
        background-image: url('../cosmo/icons/email\ icon.png');
        background-repeat: no-repeat;
        background-position: 14px center;
    }
    .main__submit-form {
        display: flex;
        width: 738px;
        height: 117px;
        justify-content: center;
        align-items: center;
        background: #ff8bca;
    }
    .main__submit-form:hover {
        cursor: pointer;
    }   
    .main__submit-contour {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 720px;
        height: 100px;
        border: 2px solid white;
        background: transparent;
    }
    .main__submit-text {
        font-size: 41px;
        letter-spacing: 1px;
        line-height: 51px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Futura Std";
        text-align: center;
    }
    .main__title4 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 30px;
        text-decoration: underline;
        color: #333333;
        margin: 18px 0;
        margin-left: -27px;
    }
}

@media only screen and (max-width: 768px) {
    /*mobiles*/
    .main__logo {
        width: 30%;
        margin-top: 130px;
    }
    .main {
        width: 100%;
        background-image: url(../cosmo/icons/BACKGROUND_MOBILE.png);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        background-size: 100%;
        height: auto;
        margin: auto auto;
    }

    .main__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main__title1 {
        width: 100%;
        font-size: 1em;
        letter-spacing: 4px;
        color: #e670b1;
        font-weight: 500;
        font-family: "Futura Std";
        text-align: center;
        margin: 10px auto;
    }
    .main__title2 {
        background: linear-gradient(45deg, #ff8665, #ff8bca);
        text-align: center;
        font-size: 1.4em;
        letter-spacing: 6px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Futura Std";
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.6em;
        padding: 0 20px;
        
    }
    .main__title3 {
        font-size: 0.9em;
        line-height: 37px;
        color: #333333;
        font-style: italic;
        font-family: "Georgia";
        text-align: center;
        margin-top: 145px;
        letter-spacing: 1px;
        margin-bottom: 20px;
        position: relative;
    }
    .text_email::after {
        position: absolute;
        padding: 5px;
        border-bottom: 2px solid #fd9933;
        border-right: 2px solid #fd9933;
        content: "";
        transform: rotate(45deg);
        top: 40px;
        left: calc(50% - 2px);
    }
    .text_email::before {
        position: absolute;
        padding: 5px;
        border-bottom: 2px solid #fd9933;
        border-right: 2px solid #fd9933;
        content: "";
        transform: rotate(45deg);
        top: 30px;
        left: calc(50% - 2px);

    }
    .main__email-field {
        border: 1px solid #f767b4;
        width: 97%;
        height: 2.5em;
        margin: 11px 0;
        background-image: url('../cosmo/icons/email\ icon.png');
        background-repeat: no-repeat;
        background-position: 8px center;
        position: inherit;
        background-size: 20px;
    }
    .main__submit-form {
        display: flex;
        width: 98%;
        height: 3.5em;
        justify-content: center;
        align-items: center;
        background: #ff8bca;
    }
    .main__submit-form:hover {
        cursor: pointer;
    }
    .main__submit-contour {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 97%;
        height: 2.8em;
        border: 1px solid white;
        background: transparent;
    }
    .main__submit-text {
        font-size: 1.1em;
        letter-spacing: 1px;
        line-height: 51px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Futura Std";
        text-align: center;
    }
    .main__title4 {
        text-decoration: underline;
        color: #333333;
        font-size: 1em;
        line-height: 2.8em;
        font-style: italic;
        font-family: "Georgia";
        text-align: center;
        font-weight: 600;
    }

}    